@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #1f1f1f;
    --main-gradient: linear-gradient(to right,  #f10d0d, #ff6161);
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --front-bg: #d3d3d3;
    --front-color: #f7506d;
    --menu-color: #d3d3d3;
    
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* 
    Main app Styles
*/


body{
    background-color:var(--menu-color);
}

button {
    cursor: pointer;
    outline: none;
}

.btn {
    padding: .6rem 1.5rem;
    border-radius: 4px;
    height: 40px;
    border: 1px solid var(--main-gradient);
}

.btn-main-gradient, .bg-main-gradient {
    background: var(--main-gradient) !important;
    color: #fff !important;
}

.btn-main, .bg-main {
    background: var(--main-color) !important;
    color: #fff !important;
}

.btn-block {
    width: 100%;
    display: block;
}
.btn-block-ic {
    background: #dc4141 !important;
    border-radius: 0px;
    border-top-right-radius:    10px;
    border-bottom-right-radius: 10px;
}
.btn-header{
    background: #24b056 !important;
    color: #fff !important;
}

.flotant-button {
    margin-top: 50px;
    display: none;
}

.form-group {
    margin-bottom: 1rem;

    label:first-child {
        width: 100%;
        display: block;
        font-size: .8rem;
        font-weight: 600;
        margin-bottom: .5rem;
        color: #444;
    }
}

.form-control {
    height: 40px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    padding: .3rem 1rem;
    outline: none;
    color: #333;
}

.front-wrapper,
.account-wrapper {
    min-height: 100vh;
    //background: var(--front-bg);
}

.account-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;

    .role-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .role {
            display: flex;
            align-items: center !important;

            input[type=radio] {
                display: none;

                & + label span {
                    display: inline-block !important;
                    height: 15px !important;
                    width: 15px !important;
                    padding: 0rem !important;
                    border: 2px solid var(--front-color);
                    cursor: pointer;
                    border-radius: 50%;
                }

                &:checked + label span {
                    background: var(--main-gradient);
                    border: 2px solid var(--front-bg);
                }
            }

            span:first-child {
                padding-right: 1rem;
                font-size: .8rem;
                color: #333;
                font-weight: 500;
            }
        }
    }

    .account-header {
        text-align: center !important;

        h3 {
            width: 100%;
            font-size: 2.8rem;
            text-align: center !important;

            span {
                color: var(--front-color);
            }
        }

        small {
            font-size: 1rem;
            color: #444;
            font-weight: 600;
        }
    }

    .account-tabs {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem 0rem;

        button {
            background: #fff;
            color: var(--text-grey);
            text-transform: uppercase;
            border: none;
            padding: .6rem;
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: 3px solid #efefef;

            &.is-active {
                border-bottom: 3px solid var(--front-color);
            }
        }
    }

    .account-form-wrapper {
        width: 400px;

        .account-form {
            padding: .6rem 0rem;

            h3 {
                font-weight: 500;
                font-size: 1.5rem;
                color: #444;
                margin-bottom: 1rem;
            }

            button {
                margin-top: 1.5rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: .95rem;
            }
        }
    }
}

.front-sidebar {
    width: 110px;
    height: 100%;
    height: 100;
    padding: 1rem 1rem;
    position: fixed;
    left: 0;
    top: 0;
    background: rgb(22, 22, 22);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    z-index: 100;

    .brand {
        text-align: center;
        
        h1 {
            color: var(--front-color);
            font-size: 3rem;
        }
    }

    .front-sidemenu {
        margin-top: 1.4rem;

        li {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 1.3rem;
            cursor: pointer;

            h3 {
                color: var(--front-color);
                font-size: 1rem;
                font-weight: 400;
                margin-top: .5rem;
            }

            img {
                width: 40px !important;
                filter: invert(31%) sepia(9%) saturate(9%) hue-rotate(12deg) brightness(98%) contrast(87%);
            }

            &.active {
                background: var(--main-gradient);
                padding: .5rem;
                border-radius: 8px;

                h3 {
                    color: #fff;
                    font-size: .8rem;
                    margin-top: 0rem;
                }

                img {
                    width: 30px !important;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                }
            }
        }
    }
}


.front-header {
    position: fixed;
    left: 150px;
    top: 20px;
    right: 40px;
    padding: 1.3rem 1.8rem;
    background: #fff;
    border-radius: 8px;
    width: calc(100% - 190px);
    z-index: 100;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 1.6rem;

            & + small {
                display: block !important;
                margin-top: -3px;
            }
        }

        .front-search {
            display: flex;
            align-items: center;

            span {
                padding: 1rem 1.4rem;
                font-size: 1.5rem;
            }

            input {
                border: none;
                outline: none;
                height: 40px;
                flex: 1;
                padding: 1rem 1.4rem;
                border-left: 1px solid var(--text-grey);
            }
        }

        .front-nav-links {
            display: flex;
            align-items: center;

            div:first-child {
                a, button {
                    display: inline-block;
                    margin: 0rem .5rem;
                    font-size: 1.03rem;
                    font-weight: 600;
                    color: #555;
                    text-transform: uppercase;
                }

                button {
                    background: none;
                    border: none;
                    outline: none;
                }
            }

            div:last-child {
                margin-left: 1.5rem;

                button {
                    padding: .6rem 1rem;
                }

                span:first-child {
                    font-size: 1.3rem;
                }

                span:last-child {
                    font-size: .8rem;
                }
            }
        }
    }
}



.container {
    margin: auto;
    width: 89%;
  }
  



.front-main {
    margin-left: 150px;
    top: 140px;
    height: 80vh;
    width: calc(100% - 190px);
    position: absolute;
    

    .main-grid {
        //display: grid;
        //grid-template-columns: 70% 30%;
        grid-template-columns: 100%;
        height: 80vh;

        h3 {
            font-weight: 500;
        }

        .menu-section {
            height: 80vh;
            overflow-y: auto;
            padding-bottom: 1rem;
            padding-right: 1rem;

            &::-webkit-scrollbar {
                width: 7px;
            }
        
            /* Track */
            &::-webkit-scrollbar-track {
                background: var(--text-grey); 
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #555; 
                border-radius: 6px;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #444; 
            }

            h3 {
                margin-bottom: 1.3rem;
            }

            .menu-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2rem;
    
    
                .menu-card {
                    height: 250px;
                    border-radius: 7px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding: 1.1rem;
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.2),
                    -2px -2px 10px rgba(255,255,255,0.8);
                    cursor: pointer;
                    position: relative;
                    overflow-y: hidden;

                    .item-name,
                    .item-price {
                        padding: .3rem 1rem;
                        border-radius: 3px;
                        display: inline-block !important;
                        font-size: .85rem;
                        font-weight: 700;
                    }

                    .item-price {
                        margin-bottom: .5rem;
                    }

                    .item-name {
                        background: #fff;
                    }

                    button {
                        position: absolute;
                        bottom: -50%;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: bottom 300ms;
                    }

                    &:hover button {
                        bottom: 15px;
                    }
                }
            }
        }
        
    }
}
.hamb-top {
    background-color: #fff;
    top: 5px;
    height: 4px;
    width: 1px;
}
.hamb-middle {
    background-color: #fff;
    top: 5px;
    height: 4px;
    width: 1px;
}
.hamb-bottom {
    background-color: #fff;
    top: 5px;
    height: 4px;
    width: 1px;
}


@media only screen and (max-width: 815px) {
    .front-sidebar {
        z-index: 300;
        transform: translateX(-100%);

    }

    .front-main {
        margin-left: 15px;
        width: calc(100% - 20px);
    }

    .front-header {
        left: 35px;
        width: calc(100% - 50px);
    }
    .flotant-button{
        display: inline-flex;
    }
    .show-sidebar {

        .front-sidebar {
        
            transform: none;
    
        }
        .flotant-button{
            margin-left: 110px;
        }
		

	}
}

//carritoooooooo

$main-color: #6394F8;
$light-text: #ABB0BE;
.shopping-cart {
    margin: 130px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
    z-index: 1;
    
    
    .shopping-cart-header {
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 15px;
        
        .shopping-cart-total {
        float: right;
        }
    }
    
    .cart-body {
        .cart-items {
            padding: 0rem .5rem;
        }
    
        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid #ccc;
    
            &:last-child {
                border-bottom: none;
            }
    
            .cart-info {
                display: flex;
                max-width: 170px;
                align-items: center;
                
    
                span {
                    padding-right: 1rem;
                    color: #f7506d;
                    font-size: 1.03rem;
                    cursor: pointer;
                }
            }
    
            .cart-controls {
                display: flex;
                align-items: center;
                border: 1px solid var(--front-color);
                border-radius: 6px;
                overflow-y: hidden;
                height: 33px;
    
                input {
                    border: none;
                    outline: none;
                    height: 33px;
                    width: 33px;
                    text-align: center;
                    background: transparent;
                }
    
                input + div {
                    display: flex;
                    flex-direction: column;
                    background: var(--main-gradient);
    
                    span {
                        height: 49.5%;
                        background: var(--main-gradient);
                        color: #fff;
                        padding: 0rem .23rem;
                        cursor: pointer;
    
                        &:first-child {
                            border-bottom: 1px solid #fff;
                        }
    
                        &:last-child {
                            border-top: 1px solid #fff;
                        }
                    }
                }
            }
        }
        .cart-sum {
            padding: 1.5rem;
            background: #fff;


            .cart-pay-btn {
                margin-top: 1.2rem;

                button {
                    background: #24b056;
                    color: #fff;
                    font-size: 1rem;
                    height: auto;
                    display: block;
                    width: 100%;

                    span {
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
        
}


        


.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}


/***
    Modal
***/
/* Modal */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 92%;
    max-width:380px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.modal-header h4 {
    margin-top: 0;
    color: var(--text-grey);
    border-bottom: 1px solid #ccc;
    padding-bottom: .4rem;
}

.modal-body {
    margin: 20px 0;
    max-height: 400px !important;
    overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
    background: var(--main-dark); 
    border-radius: 8px;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

/* ***
    Admin styles
* ***/

.admin-login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .admin-form-wrapper {
        padding: 1rem;
        width: 400px;
        
        h3 {
            font-weight: 500;
            font-size: 1.5rem;
            color: #444;
            margin-bottom: 1rem;
            text-align: center;
        }

        button {
            margin-top: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: .95rem;
        }

        .form-link {
            text-align: center;
            
            a {
                color: #555 !important;
                font-weight: 500;
                text-decoration: underline;
            }
        }
    }
}

#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu {
    padding: 1rem;
}

.sidebar li {
    margin-bottom: 1.5rem;
}

.sidebar a {
    color: #fff;
    font-size: .8rem;
}

.sidebar a span:last-child {
    padding-left: .6rem;
}

#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 img,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 60px;
    width: calc(100% - 60px);
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons div {
    margin-left: 1.2rem;
}

.social-icons div {
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}

.card-single {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1.4rem;
}

.card-body h5 {
    color: var(--text-grey);
    font-size: 1rem;
}

.card-body h4 {
    color: var(--color-dark);
    font-size: 1.1rem;
    margin-top: .2rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

.card-footer a {
    color: var(--main-color);
}

.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
    background: #fff;
    border-radius: 7px;
}

.activity-card h3 {
    color: var(--text-grey);
    margin: 1rem;
}

.activity-card table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead {
    background: #efefef;
    text-align: left;
}

th, td {
    font-size: .9rem;
    padding: 1rem 1rem;
    color: var(--color-dark);
}

td {
    font-size: .8rem;
}

tbody tr:nth-child(even) {
    background: #f9fafc;
}

.badge {
    padding: .2rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
}

.badge.success {
    background: #DEF7EC;
    color: var(--main-color);
}

.badge.warning {
    background: #F0F6B2;
    color: orange;
}

.td-team {
    display: flex;
    align-items: center;
}

.img-1,
.img-2,
.img-3 {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -15px;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
}

.summary-card {
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.summary-single {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.summary-single span {
    font-size: 1.5rem;
    color: #777;
    padding-right: 1rem;
}

.summary-single h5 {
    color: var(--main-color);
    font-size: 1.1rem;
    margin-bottom: 0rem !important;
}

.summary-single small {
    font-weight: 700;
    color: var(--text-grey);
}

.bday-flex {
    display: flex;
    align-items: center;
    margin-bottom: .3rem;
}

.bday-card {
    padding: 1rem;
}

.bday-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid #efefef;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: .7rem;
}

.text-center {
    text-align: center;
}

.text-center button {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .4rem 1rem;
}

.table-responsive {
    overflow-x: auto;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {

    .main-grid {
        grid-template-columns: 100% !important;
    }

    .cart-section {
        position: fixed;
        padding-left: 0rem !important;
        right: 0;
        top: 0;
        bottom: 0 !important;
        height: 100% !important;
        z-index: 120;
        background: #fff;
        
        .cart-card {
            background: #fff;
            height: 100% !important;
        }
    }

    .sidebar {
        width: 60px;
        z-index: 150;
        
    }

    .sidebar .sidebar-header h3 img,
    .sidebar li span:last-child {
        display: none;
    }

    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }
    
    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 img,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }
    
    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
    }

    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    #sidebar-toggle:checked ~ .main-content header {
        left: 60px;
    }
}

@media only screen and (max-width: 960px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 650px) {
    .menu-grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media only screen and (max-width: 860px) {
    .dash-cards {
        grid-template-columns: repeat(2,1fr);
    }
    
    .card-single {
        margin-bottom: 1rem;
    }
    
    .activity-grid {
        display: block;
    }
    
    .summary {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 450px) {
    main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}






ul {padding: 0; margin: 0;}
li {list-style: none;}
.wrap {max-width: 1024px; min-width: 320px;}
header {
	display: flex;
	z-index: 1;
	padding: 10px 0;
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	top: 0;
	justify-content: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
	transition: 0.33s;
}
header .wrap {
	padding: 0 2%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
header img {
	width: 100px;
}
header #menu {
	display: flex;
	flex-direction: row;
}
header #menu li {
	position: relative;
	user-select: none;
	margin-left: 20px;
	i {width: 12px; height: 12px; background-color: #3E3A37;}
	a {
		color: #3E3A37;
		cursor: pointer;
		font-size: 1.15em;
		border: none;
		border-bottom: 2px solid #ffffff;
		transition: 0.15s;
		background: none;
		&:hover {
			border-bottom-color: #41B883;
			color: #41B883;
			i {
			background-color: #41B883;
			}
		}
	}
}
header .drop_menu {
	position: absolute;
	display: block;
	top: 149%;
	transform: scaleY(0);
	width: auto;
    transform-origin: top;
    background-color: #ffffff;
	transition: 0.25s;
	padding-bottom: 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
	a {
		margin-left: 20px;
		display: block;
		transition: 0.45s;
		opacity: 0;
		margin-right: 20px;
		padding: 10px 0 0 0;
	}
}

header .drop_menu.display {
	transform: scaleY(1);
	a {
		opacity: 1;
	}
}
header #hamburger {
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	left: 3%;
	top: 30px;
	display: none;
	transform: translateY(-50%);
}
header #hamburger span {
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #3E3A37;
	display: block;
	transition: 0.33s;
	&:nth-child(1) {width: 12px;}
	&:nth-child(2) {width: 24px;}
	&:nth-child(3) {width: 12px;}
}
.display_menu header #hamburger {
	span:nth-child(1) {transform: rotate(45deg) translate(2px, 1px); }
	span:nth-child(2) {transform: rotate(-45deg) ;}
	span:nth-child(3) {transform: rotate(45deg) translate(6px, -9px);}
}










@media screen and (max-width: 660px) {
	body {
        //padding-top: 70px;
        font: 14px/22px "Lato";
    }
	header .wrap {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0;
	}
	header img {width: 50px;}
	header #hamburger {
		display: block;
	}
	header #menu {
		width: 100%;
		display: block;
     	height: 0;
    	transform-origin: 50% 0;
     	transition: 0.33s ease;
		flex-direction: column;
	}
	.display_menu header #menu {
     	height: calc(100vh - 64px);
		li {
     		height: calc((100vh - 113px)/8);
			border-bottom: 1px solid #DAD9D7;
     		transition: 0.25s ease;
			opacity: 1;
			display: block;
			a {
			}
		}
	}
	header #menu li {
		height: 0;
		opacity: 0;
		margin-left: 0;
     	transition: 0.25s ease;
		a {
			left: 0;
     		line-height: calc((100vh - 113px)/8);
			padding-left: 20px;
			border: none;
			height: 100%;
			width: 100%;
			display: block;
			&:hover {
				color: #ffffff;
				background-color: #41B883;
				i {background-color: #ffffff;}
			}
		}
		i {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			background-color: #3E3A37;
		}
	}
	header .drop_menu {
		top: calc((100vh - 113px)/8);
		box-shadow: none;
		left: 0;
		padding-bottom: 0;
		width: 100%;
		a {
			width: 100%;
			padding: 0 !important;
			padding-left: 40px !important;
			margin: 0;
			border-bottom: 1px solid #DAD9D7 !important;
		}
	}
}
@media screen
and(max-width: 660px)
and(max-height: 500px){
	
	.display_menu header  {
		max-height: 100vh;
		overflow-y: scroll;
	}
	.display_menu header #menu {
		li {
     		height: calc((100vh - 113px)/4);
     	}
	}
	header #menu li {
		a {
     		line-height: calc((100vh - 113px)/4);
     	}
    }
    header .drop_menu {
		top: calc((100vh - 113px)/4);
	}
}
i {
	vertical-align: middle;
	display: inline-block;
	background-repeat: no-repeat;
}


.modal-vue{
    align-content: center;
}
.modal-vue .overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
  
  .modal-vue .modal {
    
    width: 80%;
    height: auto;
    position: relative;
    top: 70px;
    margin: 50px auto 0;
    
    z-index: 9999;
    padding: 20px 30px;
    background-color: #fff;
  }
  
  .modal-vue .close{
    position: absolute;
    top: 10px;
    right: 10px;
  }
