<template>
    <dashboard-layout>
        <div slot="main-content">
            <h2 class="dash-title">Añadir usuario</h2>
            
            <section class="recent">
                <div class="">
                    <div class="activity-card pad-1">
                        <form enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="">Nombre completo</label>
                                <input type="text" v-model="user.name" class="form-control" placeholder="Nombre del usuario">
                            </div>

                            <div class="form-group">
                                <label for="">Correo</label>
                                <input type="text" v-model="user.email" class="form-control" placeholder="Correo del usuario">
                            </div>

                            <div class="form-group">
                                <label for="">Contraseña</label>
                                <input type="password" v-model="user.password" class="form-control" placeholder="*********">
                            </div>
                            

                            <div class="form-group">
                                <button type="button" @click="addUser" class="btn btn-main">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from '@/components/Layouts/DashboardLayout'

export default {
    name: 'AddUser',
    components: {
        DashboardLayout,
    },
    data() {
        return {
            categories: [],
            user: {
                name: '',
                email: '',
                password: '',
            }
        }
    },
    mounted() {
        
    },
    methods: {
        addUser() {
            const {name, email, password} = this.user
            
            if(!name || !email || !password) {
                return this.$alertify.error('Incomplete form data')
            }

            this.$axios.post(`${this.$apiUrl}/auth/register`, {name, email, password}, {
                headers: {
                    Authorization: `Bearer ${localStorage.authtoken}`
                }
            })
            .then(() => {
                this.$router.push('/admin/users')
            })
            .catch(error => {
                if(error.response.data.message) {
                    return this.$alertify.error(error.response.data.message)
                }
                this.$alertify.error(Object.values(error.response.data)[0][0])
            })
        }
    }
}
</script>

<style lang="css">
    .pad-1 {
        padding: 1rem
    }
</style>