<template>
    <dashboard-layout>
        <div slot="main-content">
            <section class="recent">
                <div class="">
                    <div class="activity-card" style="align-content: center;">
                        <h3 style="align-content: center;">Bienvenido al sistema de "El Exagerado", a la izquierda tienes todas las opciones. Disfrútalo.</h3> 
                    </div>
                </div>
            </section>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from '@/components/Layouts/DashboardLayout'

export default {
    components: {
        DashboardLayout
    },
    name: 'AdminHome',
    data() {
        return {
            menu: []
        }
    },
    mounted() {
        this.getMenu()
    },
    methods: {
        getMenu() {
            this.$axios.get(`${this.$apiUrl}/menu/all`)
            .then(res => {
                this.menu = res.data.data.slice(0, 3)
            })
            .catch(error => {
                console.log(error.response)
            })
        },
    }
}
</script>