<template>
    <dashboard-layout>
        <div slot="main-content">
            <h2 class="dash-title">Menú</h2>
                    
            <div class="page-action">
                <button class="btn btn-main" @click="$router.push('/admin/menu/add')"><span class="ti-plus"></span> Añadir nuevo Menú</button>
            </div>
            
            
            <section class="recent">
                <div class="">
                    <div class="activity-card">
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Categoría</th>
                                        <th>Precio</th>
                                        <th>¿Activo?</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(menuItems, index) in menu" :key="index" >
                                        <td>#{{index + 1}}</td>
                                        <td v-if="formActualizar && idActualizar == index">
                                            <!-- Formulario para actualizar -->
                                            <input type="file" @change="saveImage($event)" class="form-control">
                                        </td>
                                        <td v-else><img :src="menuItems.image" style="border-radius: 50%" height="50px" width="50px" alt=""></td>
                                        <td v-if="formActualizar && idActualizar == index">
                                            <!-- Formulario para actualizar -->
                                            <input type="text" v-model="menuItem.name" class="form-control" placeholder="Nombre de menú">
                                        </td>
                                        <td v-else>{{menuItems.name}}</td>
                                        <td v-if="formActualizar && idActualizar == index">
                                            <select v-model="menuItem.category_id" class="form-control">
                                                <option value="">Elegir</option>
                                                <option :value="category.id" v-for="(category, index) in categories" :key="index">
                                                    {{category.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td v-else>{{menuItems.category.name}}</td>
                                        <td v-if="formActualizar && idActualizar == index">
                                            <!-- Formulario para actualizar -->
                                            <input type="number" v-model="menuItem.price" min="1" class="form-control" placeholder="Precio">
                                        </td>
                                        <td v-else>{{menuItems.price}}</td>
                                        <td v-if="formActualizar && idActualizar == index">
                                            <!-- Formulario para actualizar -->
                                            <input type="checkbox" v-model="menuItem.isAvailable" class="form-control">
                                        </td>
                                        
                                        <td v-else>
                                            <span class="badge success" v-if="Number(menuItems.isAvailable) === 1">Activo</span>
                                            <span class="badge warning" v-else>Desactivado</span>
                                        </td>
                                        <td v-if="formActualizar && idActualizar == index">
                                            <button @click="updateItem(menuItems.id,index)" class="btn btn-success">Guardar</button>
                                        </td>
                                        <td v-else>
                                            <button @click="verFormActualizar(index)" class="btn btn-warning">Actualizar</button>
                                            <button class="btn btn-main-gradient" @click="removeMenu(menuItems.id, index)"><span class="ti-trash"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from '@/components/Layouts/DashboardLayout'

export default {
    components: {
        DashboardLayout
    },
    name: 'Menu',
    data() {
        return {
            menu: [],
            formActualizar:false,
            idActualizar:-1,
            menuItem: {
                id:-1,
                name: '',
                isAvailable: true,
                category_id: '',
                price: '',
                image: '',
            }
        }
    },
    mounted() {
        this.getMenu(),
        this.getCategories()
    },
    methods: {
        getCategories() {
            this.$axios.get(`${this.$apiUrl}/categories/all`)
            .then(res => {
                this.categories = res.data.data
            })
            .catch(error => {
                console.log(error.response)
            })
        },
        async saveImage(e) {
            const imageData = new FormData()
            imageData.append('file', e.target.files[0])
            imageData.append('upload_preset', 'insta-clone')
            imageData.append('cloud', 'coderesource')

            try {
                const result = await this.$axios.post(`https://api.cloudinary.com/v1_1/coderesource/image/upload`, imageData);
                this.menuItem.image = result.data.url
            }catch(error) {
                console.log(error.response);
            }
        },
        getMenu() {
            this.$axios.get(`${this.$apiUrl}/menu/all`)
            .then(res => {
                this.menu = res.data.data
                console.log(this.menu)
            })
            .catch(error => {
                console.log(error.response)
            })
        },
        removeMenu(id, index) {
            this.$axios.delete(`${this.$apiUrl}/menu/${id}/delete`, {
                headers: {
                    Authorization: `Bearer ${localStorage.authtoken}`
                }
            })
            .then(() => {
                this.$alertify.success('Menu item deleted successfully')
                this.menu.splice(index, 1)
            })
            .catch(error => {
                console.log(error.response)
            })
        },
        updateItem(id,index) {
            const {name, price, category_id, image, isAvailable} = this.menuItem
            
            if(!name || !price || !category_id) {
                return this.$alertify.error('Incomplete form data')
            }

            this.$axios.post(`${this.$apiUrl}/menu/update`, {name, price, category_id, image, isAvailable,id}, {
                headers: {
                    Authorization: `Bearer ${localStorage.authtoken}`
                }
            })
            .then(() => {
                this.$alertify.success('Actualizado correctamente')
                this.formActualizar=false
                index
                this.$router.go(0)
            })
            .catch(error => {
                if(error.response.data.message) {
                    return this.$alertify.error(error.response.data.message)
                }
                this.$alertify.error(Object.values(error.response.data)[0][0])
            })
        },
        verFormActualizar: function (id) {
            
            this.idActualizar = id;
            this.menuItem.name= this.menu[id].name;
            this.menuItem.isAvailable= this.menu[id].isAvailable;
            this.menuItem.category_id= this.menu[id].category_id;
            this.menuItem.price= this.menu[id].price;
            this.menuItem.image= this.menu[id].image;
            this.formActualizar = true;
        },
}
}
</script>