<template>
    <dashboard-layout>
        <div slot="main-content">
            <h2 class="dash-title">Órdenes</h2>
            
            
            <section class="recent">
                <div class="">
                    <div class="activity-card">
                        
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Monto total</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Dirección</th>
                                        <th>Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(order, index) in orders" :key="index" >
                                        <td>#{{index + 1}}</td>
                                        <td>{{order.name}}</td>
                                        <td>{{order.phone}}</td>
                                        <td>S/.{{order.amount}}</td>
                                        <td>
                                            <span class="badge warning" v-if="order.status === 'pendiente'">Pendiente</span>
                                            <span class="badge success" v-else>Terminado</span>
                                        </td>
                                        <td>{{order.date}}</td>
                                        <td></td>

                                        <a :href="'https://www.google.com.pe/maps/search/'+getStringAddress(order.address)+'/@-11.899002,-77.0385124,17z?hl=es-419'+order.phone" target="_blank">
                                        {{order.address}}
                                        </a>
                                        

                                        <td>
                                            <button class="btn btn-main" @click="viewOr(order.id)"><span class="ti-info-circle"></span> Ver</button>
                                            <a :href="'https://api.whatsapp.com/send?phone=+51'+order.phone" target="_blank">
                                            whatsapp
                                            </a>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from '@/components/Layouts/DashboardLayout'

export default {
    components: {
        DashboardLayout
    },
    name: 'Orders',
    data() {
        return {
            orders: []
        }
    },
    mounted() {
        this.getOrders()
    },
    methods: {
        viewOr(id){
            id
            this.$router.push(`/admin/orders/${id}`)
        },
        getStringAddress(address){
            return address.replace(/ /g,"+");

        },
        getOrders() {
            this.$axios.get(`${this.$apiUrl}/orders/all`, {
                headers: {
                    Authorization: `Bearer ${localStorage.authtoken}`
                }
            })
            .then(res => {
                this.orders = res.data.data
                this.orders.map(order => {
                    order.items = JSON.parse(order.items)
                    return order
                })
            })
            .catch(error => {
                console.log(error.response)
            })
        },
    }
}
</script>