<template>
    <dashboard-layout>
        <div slot="main-content">
            <div class="header-view" style="display: flex;
    justify-content: space-between;
    align-items: center;">
                <h2 class="dash-title">Órdenes</h2>
                <button @click="verFormActualizar()" class="btn btn-header">Terminar pedido</button>
            </div>
            <section class="recent">
                <div class="">
                    <div class="activity-card">
                        
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Valor</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>Nombre</td>
                                        <td>{{order.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Teléfono</td>
                                        <td>{{order.phone}}</td>
                                    </tr>
                                    <tr>
                                        <td>Monto total</td>
                                        <td>S/.{{order.amount}}</td>
                                    </tr>

                                    <tr>
                                        <td>Estado</td>
                                        <td>{{order.status}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha</td>
                                        <td>{{order.date}}</td>
                                    </tr>

                                    <tr>
                                        <td>Dirección</td>
                                        <td>{{order.address}}</td>
                                    </tr>
                                    <tr>
                                        <td>Referencia</td>
                                        <td>{{order.reference}}</td>
                                    </tr>
                                            
                                     
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <h3>Items</h3>
                    <div class="activity-card">
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="menuItems in JSON.parse(order.items)" :key="menuItems">

                                        <td><img :src="menuItems.image" style="border-radius: 50%" height="50px" width="50px" alt=""></td>
                                        <td>{{menuItems.name}}</td>
                                        <td>{{menuItems.price}}</td>
                                        <td>{{menuItems.qty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </section>
        </div>
    </dashboard-layout>
</template>

<script>
import DashboardLayout from '@/components/Layouts/DashboardLayout'

export default {
    name: 'ViewOrder',
    components: {
        DashboardLayout,
    },
    data() {
        return {
            order: {},


        }
    },
    mounted() {
        this.getOrders()
    },
    methods: {
        getOrders() {
            this.$axios.get(`${this.$apiUrl}/orders/${this.$route.params.id}/show`)
            .then(res => {
                this.order = res.data.data
                console.log(this.order);
            })
            .catch(error => {
                console.log(error.response)
            })
        },
        verFormActualizar() {

            this.$axios.get(`${this.$apiUrl}/orders/${this.$route.params.id}/finish`)
            .then(() => {
                this.$alertify.success('Actualizado correctamente')
                this.$router.go(0)
            })
            .catch(error => {
                if(error.response.data.message) {
                    return this.$alertify.error(error.response.data.message)
                }
                this.$alertify.error(Object.values(error.response.data)[0][0])
            })
        },
    }
}
</script>

<style lang="css">
    .pad-1 {
        padding: 1rem
    }
</style>