<template>
    <div>
        <input type="checkbox" id="sidebar-toggle">
        <div class="sidebar">
            <div class="sidebar-header">
                <h3 class="brand">
                    <img src="../../assets/exagerado.png" alt="Girl in a jacket" width="120">
                </h3> 
                <label for="sidebar-toggle" class="ti-menu-alt"></label>
            </div>
            
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <router-link to="/admin/dashboard">
                            <span class="ti-home"></span>
                            <span>Dashboard</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/categories">
                            <span class="ti-face-smile"></span>
                            <span>Categorias</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/menu">
                            <span class="ti-agenda"></span>
                            <span>Menús</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/orders">
                            <span class="ti-clipboard"></span>
                            <span>Órdenes</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/admin/users">
                            <span class="ti-folder"></span>
                            <span>Usuarios</span>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <div class="main-content">
            
            <header>
                
                <div class="social-icons">
                    <span @click="signout" class="ti-power-off"></span>
                    <div></div>
                </div>
            </header>
            
            <main>
                <slot name="main-content"></slot>
            </main>
            
        </div>
    </div>
</template>

<script>

//import Echo from 'laravel-echo';
//window.Pusher = require("pusher-js");

export default {
    name: 'DashboardLayout',

    mounted() {

        /*window.Echo = new Echo({
            broadcaster: "pusher",
            key: "ASDASD2121",
            wsHost: window.location.hostname,
            wsPort:6001,
            disableStats: true
        })


        window.Echo.channel('home').listen('AddOrder',(e)=>{
            console.log(e);
        })*/
    },
    methods: {
        signout() {
            localStorage.removeItem('authtoken')
            localStorage.removeItem('admin')
            this.$router.push('/admin/login');
        }
    }
}
</script>