<template>
    <div>
        <div class="modal-vue">

        <div class="overlay" v-if="showFormToBuy" @click="showFormToBuy = false"></div>
        
        <!-- modal -->
        <div class="modal" v-if="showFormToBuy">
            <button class="close" @click="showFormToBuy = false">x</button>
            <form>
                <div class="form-group">
                    <label for="">Nombre completo</label>
                    <input type="text" v-model="order.name" class="form-control" placeholder="Ingresar Nombre Completo">
                </div>

                <div class="form-group">
                    <label for="">Teléfono</label>
                    <input type="phone" v-model="order.phone" class="form-control" placeholder="Ingrese su telefono">
                </div>

                <div class="form-group">
                    <label for="">Dirección</label>
                    <input type="text" v-model="order.address" class="form-control" placeholder="Ingrese su dirección">
                </div>

                <div class="form-group">
                    <label for="">Referencia</label>
                    <input type="text" v-model="order.reference" class="form-control" placeholder="Una referencia para llegar a su casa">
                </div>

                <div class="form-group">
                    <button type="button" @click="createOrder" class="btn btn-main">Enviar</button>
                </div>
                
            </form>
        </div>
    </div>  
        <div class="front-header" id="app">
            <nav>
                <div>
                    <h3>El Exagerado</h3>
                    <small>Comida Rápida, Enorme y Deliciosa.</small>
                </div>

                <div class="front-nav-links">
                    
                    <div>
                        <button class="btn btn-main-gradient" id="cart" @click="showAddressModal = !showAddressModal">
                            <span class="ti-shopping-cart"></span>
                            <span>{{cart.length}}</span>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
            
        <div class="container" v-show="showAddressModal===true">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{cart.length}} comidas fabulosas</span>
                
                <div class="shopping-cart-total">
                    <span class="lighter-text">Total: </span>
                    <span class="main-color-text">S/.{{cartTotal.toLocaleString()}}</span>
                </div>
                </div> <!--end shopping-cart-header -->


                <div class="cart-body">
                    <div class="cart-items">
                        <div class="cart-item" v-for="(item, index) in cart" :key="index">
                            <div class="cart-info">
                                <span class="ti-trash" @click="dropItem(index)"></span>
                                <div>
                                    <h5>{{item.name}}</h5>
                                    <small>S/. {{(Number(item.price) * Number(item.qty)).toLocaleString()}}</small>
                                </div>
                            </div>
                            <div class="cart-controls">
                                <input type="text" readonly :value="item.qty">
                                <div>
                                    <span class="ti-angle-up" @click="updateItemQty(index, item, 1)"></span>
                                    <span class="ti-angle-down" @click="updateItemQty(index, item, 0)"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cart-sum">

                        <div class="cart-pay-btn">

                            <button class="btn btn-success" @click="showFormToBuy = true; showAddressModal=false">Continuar compra</button>



                        </div>
                    </div>
                </div>
                <!--<ul class="shopping-cart-items" v-for="(item, index) in cart" :key="index">
                    <li class="clearfix">
                        <span class="ti-trash" @click="dropItem(index)"></span>
                        <span class="item-name">{{item.name}}</span>
                        <span class="item-price">S/.{{(Number(item.price) * Number(item.qty)).toLocaleString()}}</span>
                        <span class="item-quantity">Quantity: 01</span>
                        <div class="cart-controls">
                            <input type="text" readonly :value="item.qty">
                            <div>
                                <span class="ti-angle-up" @click="updateItemQty(index, item, 1)"></span>
                                <span class="ti-angle-down" @click="updateItemQty(index, item, 0)"></span>
                            </div>
                        </div>
                    </li>
                </ul>-->
            </div> <!--end shopping-cart -->
        </div> <!--end container -->  
    </div>
    
</template>

<script>


export default {
    name: 'Nav',
    props: ['user', 'cart', 'categories'],

    data:function() {
        return {
         //   paystackkey: "pk_test_YOUR_PAYSTACK_TEST_KEY", //paystack public key
            showFormToBuy: false,
            showAddressModal: false,
            order: {
                name: '',
                phone: '',
                address: '',
                reference: '',
            }
        }
    },
    methods: {
        signout() {
            localStorage.removeItem('user')
            localStorage.removeItem('token')
            location.reload()
        },
        getCart() {
            this.cart = JSON.parse(localStorage.cart) || [];
        },
        updateCart(menuitem) {
            let cartDB = localStorage.getItem('cart')
            if(!cartDB || JSON.parse(cartDB).length < 1) {
                menuitem.qty = 1
                let cart = [menuitem]
                localStorage.setItem('cart', JSON.stringify(cart))
                this.cart.push(menuitem)
                
                this.$alertify.success('Item added to Cart');
                return
            }
            
            let cart = JSON.parse(cartDB)
            
            let isFound = false
            cart.map(item => {
                if(item.id === menuitem.id) {
                    isFound = true
                    item.qty += 1;
                    return item;
                }
            })

            if(!isFound) {
                menuitem.qty = 1
                cart.push(menuitem)
            }
            
            this.cart = cart
            localStorage.setItem('cart', JSON.stringify(cart))

            this.$alertify.success('Item added to Cart');
        },
        updateItemQty(index, item, flag) {
            if(flag === 0 && Number(item.qty) > 1) {
                item.qty = Number(item.qty) - 1
            }else{
                item.qty = Number(item.qty) + 1
            }

            this.cart[index] = item
            localStorage.setItem('cart', JSON.stringify(this.cart))

            this.$alertify.success('Cart successfully updated');
        },
        dropItem(index) {
            this.cart.splice(index, 1)
            localStorage.setItem('cart', JSON.stringify(this.cart))
            this.$alertify.success('Item removed from Cart');
        },
        createOrder(response) {
            console.log(response.reference)
            const token = localStorage.token
            const data = {
                name: this.order.name,
                amount: this.cartTotal,
                phone: this.order.phone,
                reference: this.order.reference,
                items: JSON.stringify(this.cart),
                address: this.order.address
            }

            this.$axios.post(`${this.$apiUrl}/create-order`, data, {
                headers: {
                    Authorization: `Bearer ${token}`
                }
            })
            .then(res => {
                localStorage.removeItem('cart')
                this.showAddressModal=false

                this.address = ''
                this.cart = []
                this.$alertify.success(res.data.message)
            })
            .catch(error => {
                if(error.response.data.message) {
                    return this.$alertify.error(error.response.data.message)
                }
                this.$alertify.error(Object.values(error.response.data)[0][0])
            })
        },
        close() {

        },
    },
    computed:{
        cartTotal() {
            let total = 0
            this.cart.map(item => {
                total += Number(item.price) * Number(item.qty)
            })

            return total
        },
        reference() {
            let text = "";
            let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
    
            for( let i=0; i < 10; i++ ) {
                text += possible.charAt(Math.floor(Math.random() * possible.length))
            }
    
            return text;
        },
        validateCheckoutData() {
            //const {name, email, city, address, phone, zip} = this.checkout
            
            //return !name || !email || !city || !address || !phone || !zip
            return false
        }
    }
}
</script>